// foreign start

.foreign{
    position: relative;
    margin-bottom: 100px;

    &__list{
        margin-top: 40px;
        margin-bottom: 100px;
    }

    &__img{
        @include fiximg(100%,auto,true);
        margin-bottom: 50px;
    }

    &__text{
        @include fontAll(16px,400,$text);
        line-height: 30px;
    }

    &__cart{
        .news__item__data{
            margin-top: 20px;
            font-size: 16px;
        }
    }
}

// foreign end



@media (max-width:1200px){
    .foreign__img {
        margin-bottom: 20px;
    }
}


@media (max-width:650px){
    .foreign__list {
        margin-top: 30px;
    }

    .foreign__text {
        font-size: 14px;
        line-height: 28px;
    }

    .foreign__cart .news__item__data {
        margin-top: 15px;
        font-size: 14px;
    }
}